<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Devise App</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'https://use.fontawesome.com/releases/v5.1.0/js/all.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <% if user_signed_in? %>
      <footer class="footer">
        <div class="content has-text-centered">
          <p>This project is maintained and funded by Nimbl3 Ltd.</p>
        </div>
      </footer>
    <% end %>

    <div class="notification-container">
      <% if notice %>
        <div class="notification is-info">
          <button class="delete"></button>
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="notification is-danger">
          <button class="delete"></button>
          <%= alert %>
        </div>
      <% end %>
    </div>
  </body>
</html>
